.main-categories { padding: 0; }

.category-item {
  height: 100%;
  padding: 25% 0 25% 0;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  display: block;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: white;
    background-color: darken($main-color, 6);
  }

  background-color: $main-color;

  // Colors for the main categories
  &--all { background-color: $all; }
  &--participacion-ciudadana,
  &--behavioral-science-and-nudges { background-color: $participacion-ciudadana; }
  &--acceso-a-la-informacion { background-color: $acceso-a-la-informacion; }
  &--tecnologia-civica{ background-color: $tecnologia-civica; }
  &--analisis-de-datos { background-color: $analisis-de-datos; }
  &--redes-de-expertos { background-color: $redes-de-expertos; }
  &--datos-abiertos { background-color: $datos-abiertos; }
  &--laboratorios-y-experimentacion { background-color: $laboratorios-y-experimentacion; }

  &--all:hover { background-color: darken($all, 6); }
  &--participacion-ciudadana:hover,
  &--behavioral-science-and-nudges:hover { background-color: darken($participacion-ciudadana, 6); }
  &--acceso-a-la-informacion:hover { background-color: darken($acceso-a-la-informacion, 6); }
  &--tecnologia-civica:hover { background-color: darken($tecnologia-civica, 6); }
  &--analisis-de-datos:hover { background-color: darken($analisis-de-datos, 6); }
  &--redes-de-expertos:hover { background-color: darken($redes-de-expertos, 6); }
  &--datos-abiertos:hover { background-color: darken($datos-abiertos, 6); }
  &--laboratorios-y-experimentacion:hover { background-color: darken($laboratorios-y-experimentacion, 6); }
}


// Colors for the main categories
.tag {
  &--all {
    background-color: rgba($all, .2);
    color: $all;
  }
  &--behavioral-science-and-nudges {
    background-color: rgba($participacion-ciudadana, .2);
    color: $participacion-ciudadana;
  }
  &--acceso-a-la-informacion {
    background-color: rgba($acceso-a-la-informacion, .2);
    color: $acceso-a-la-informacion;
  }
  &--tecnologia-civica{
    background-color: rgba($tecnologia-civica, .2);
    color: $tecnologia-civica;
  }
  &--analisis-de-datos {
    background-color: rgba($analisis-de-datos, .2);
    color: $analisis-de-datos;
  }
  &--redes-de-expertos {
    background-color: rgba($redes-de-expertos, .2);
    color: $redes-de-expertos;
  }
  &--datos-abiertos {
    background-color: rgba($datos-abiertos, .2);
    color: $datos-abiertos;
  }
  &--laboratorios-y-experimentacion {
    background-color: rgba($laboratorios-y-experimentacion, .2);
    color: $laboratorios-y-experimentacion;
  }
}


.top-section {
  background-color: $main-color;
  // Colors for the top sections
  &--all {
    background-color: $all;
  }
  &--behavioral-science-and-nudges {
    background-color: $participacion-ciudadana;
  }
  &--acceso-a-la-informacion-and-crowdsourcing {
    background-color: $acceso-a-la-informacion;
  }
  &--tecnologia-civica{
    background-color: $tecnologia-civica;
  }
  &--analisis-de-datos {
    background-color: $analisis-de-datos;
  }
  &--redes-de-expertos {
    background-color: $redes-de-expertos;
  }
  &--datos-abiertos {
    background-color: $datos-abiertos;
  }
  &--laboratorios-y-experimentacion {
    background-color: $laboratorios-y-experimentacion;
  }
}



