.main-categories { padding: 0; }

.category-item {
  height: 100%;
  padding: 25% 0 25% 0;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  display: block;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: white;
    background-color: darken($main-color, 6);
  }

  background-color: $main-color;

  // Colors for the main categories
  &--all { background-color: $all; }
  &--participación-ciudadana,
  &--behavioral-science-and-nudges { background-color: $participación-ciudadana; }
  &--acceso-a-la-información { background-color: $acceso-a-la-información; }
  &--tecnología-cívica { background-color: $tecnología-cívica; }
  &--análisis-de-datos { background-color: $análisis-de-datos; }
  &--redes-de-expertos { background-color: $redes-de-expertos; }
  &--datos-abiertos { background-color: $datos-abiertos; }
  &--laboratorios-y-experimentación { background-color: $laboratorios-y-experimentación; }

  &--all:hover { background-color: darken($all, 6); }
  &--participación-ciudadana:hover,
  &--behavioral-science-and-nudges:hover { background-color: darken($participación-ciudadana, 6); }
  &--acceso-a-la-información:hover { background-color: darken($acceso-a-la-información, 6); }
  &--tecnología-cívica:hover { background-color: darken($tecnología-cívica, 6); }
  &--análisis-de-datos:hover { background-color: darken($análisis-de-datos, 6); }
  &--redes-de-expertos:hover { background-color: darken($redes-de-expertos, 6); }
  &--datos-abiertos:hover { background-color: darken($datos-abiertos, 6); }
  &--laboratorios-y-experimentación:hover { background-color: darken($laboratorios-y-experimentación, 6); }
}


// Colors for the main categories
.tag {
  &--all {
    background-color: rgba($all, .2);
    color: $all;
  }
  &--behavioral-science-and-nudges {
    background-color: rgba($participación-ciudadana, .2);
    color: $participación-ciudadana;
  }
  &--acceso-a-la-información {
    background-color: rgba($acceso-a-la-información, .2);
    color: $acceso-a-la-información;
  }
  &--tecnología-cívica {
    background-color: rgba($tecnología-cívica, .2);
    color: $tecnología-cívica;
  }
  &--análisis-de-datos {
    background-color: rgba($análisis-de-datos, .2);
    color: $análisis-de-datos;
  }
  &--redes-de-expertos {
    background-color: rgba($redes-de-expertos, .2);
    color: $redes-de-expertos;
  }
  &--datos-abiertos {
    background-color: rgba($datos-abiertos, .2);
    color: $datos-abiertos;
  }
  &--laboratorios-y-experimentación {
    background-color: rgba($laboratorios-y-experimentación, .2);
    color: $laboratorios-y-experimentación;
  }
}













.top-section {
  background-color: $main-color;
  // Colors for the top sections
  &--all {
    background-color: $all;
  }
  &--behavioral-science-and-nudges {
    background-color: $participación-ciudadana;
  }
  &--acceso-a-la-información-and-crowdsourcing {
    background-color: $acceso-a-la-información;
  }
  &--tecnología-cívica {
    background-color: $tecnología-cívica;
  }
  &--análisis-de-datos {
    background-color: $análisis-de-datos;
  }
  &--redes-de-expertos {
    background-color: $redes-de-expertos;
  }
  &--datos-abiertos {
    background-color: $datos-abiertos;
  }
  &--laboratorios-y-experimentación {
    background-color: $laboratorios-y-experimentación;
  }
}



