<div class="copyright">
  <div class="row">
    <div class="large-7 columns align-middle">
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img class="copyright__cc-badge" alt="Creative Commons License" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
      Este trabajo esta licenciado bajo la licencia <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
    </div>
    <div class="large-5 columns">
      <div class="powered-by">        
        <p>
          Apoyan
        <a target="_blank" href="https://www.idrc.ca/" class="footer__partner-logo"><img src="{{ 'images/organizations/IDRC-logo-white.png' | relative_url }}" alt="International Development Research Centre"  class="powered-by__logo"/></a>
        <a target="_blank" href="http://od4d.com/" class="footer__partner-logo"><img src="{{ 'images/organizations/od4d-logo-white.png' | relative_url }}" alt="Open Data for Development" class="powered-by__logo"/></a>
        </p>
      </div>
      <div class="powered-by">
        <p>
         Powered by 
         <a target="_blank" href="http://www.thegovlab.org/"><img src="{{ 'images/govlab-logo-white.png' | relative_url }}" alt="NYU Gov Lab logo" class="powered-by__logo"/></a>
        </p> 
      </div>
    </div>
  </div>
</div>