<footer class='footer'>
    <div class="row">
        <div class="medium-3 column footer__content">
            <h4>Secciones</h4>
            <a href="{{ '/organizations.html' | relative_url }}" class="footer-links">Organizaciones</a>
            <a href="{{ '/categories.html' | relative_url }}" class="footer-links">Categorías</a>
            <a href="{{ '/about.html' | relative_url }}" class="footer-links">Acerca de</a>
            <a href="mailto:silvana@idatosabiertos.org" class="footer-links">Enviar Comentarios</a>
            <a class="footer-links contact" href="mailto:silvana@idatosabiertos.org">Contacto</a>
            <!-- <a class="footer-links js-open-modal" href="#">Report Errors</a> -->
            <a href="{{ '/selectedreadings.html' | relative_url }}">Lectura Recomendada</a>
            <a href="{{ '/blog.html' | relative_url }}" class="footer-links">Blog</a>
            <!-- <a class="footer-links js-open-error-modal" data-modal="#error-modal" href="#">Report Errors</a> -->
        </div>
        <div class="medium-3 column footer__content">
            <h4>Más Información</h4>
            <p>RIGA es una plataforma para navegar y compartir los hallazgos de la investigación sobre nuevas e innovadoras formas de resolver problemas públicos.</p>
            <p>
                <br>
                <a class="button" href="/submit.html" style="max-width: 180px">Enviar Investigación</a>
            </p>
        </div>
        <div class="medium-6 column footer__content">
            <h4>Fundadores</h4>
            <div class="row column aling-midle">
                <a target="_blank" href="#" class="footer__partner-logo footer__partner-logo--deet"><img src="{{ 'images/organizations/deet-logo-white.png' | relative_url }}" alt="Digital Engagement logo"/></a>
            
               <a class="footer__partner-logo footer__partner-logo--govlab" target="_blank" href="http://www.thegovlab.org/"><img src="{{ 'images/govlab-logo-white.png' | relative_url }}" alt="NYU Gov Lab logo" /></a>          
            </div>
            <div class="row column aling-midle">
               <a class="footer__partner-logo footer__partner-logo--mysociety" target="_blank" href="https://www.mysociety.org/"><img src="{{ 'images/organizations/mysociety-logo-white.png' | relative_url }}" alt="mySociety logo" /></a>
          
               <a class="footer__partner-logo footer__partner-logo--ilda" target="_blank" href="https://www.idatosabiertos.org/"><img src="{{ 'images/organizations/ILDA-logo-white.png' | relative_url }}" alt="ILDA logo" style="margin-left:50%;"/></a>        
            </div>
            <p>
                <br>
                <a class="button" href="{{ '/organizations.html' | relative_url }}" style="max-width: 172px">Todas las Organizaciones</a>
            </p>
        </div>
    </div>
</footer>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;"></iframe>
<!-- modal window -->
<style type="text/css">
.modal.active {
    display: block;
}
</style>
<div class="modal js-target-modal" id="error-modal">
    <header class="modal__header">
        <i class="modal__close material-icons js-close-modal">Cerrar</i>
        <h1 class="modal__title">Reportar un Error</h1>
    </header>
    <section class="modal__content">
        <form class="form" id="error-form" action="https://docs.google.com/forms/d/1fszCIYbk831NQ0YOtoM1x30jiGHrsr8DsFAYTgQWUrU/formResponse" method="post" target="hidden_iframe">
            <ol role="list" class="ss-question-list" style="padding-left: 0;">
                <h2>Reportar un Error</h2>
                <label for="entry_580987916"></label>
                <input type="text" name="entry.580987916" value="" class="ss-q-short" id="entry_580987916" dir="auto" aria-label="Ubicación del Error (¿qué página?)  " aria-required="true" required="" title="url" placeholder="Ubicación del Error">
                <div class="checkbox">
                    <input type="checkbox" id="one-checkbox">
                    <label for="one-checkbox" ">Usar la URL de la Página Actual</label>
      </div>

      <label for="entry_1026309911 "><div class="ss-q-title ">
        <label for="itemView.getDomIdToLabel() " aria-label="(Campo requerido) "></label>
        <span class="ss-required-asterisk " aria-hidden="true "></span></div>
        <div class="ss-q-help ss-secondary-text " dir="auto "></div></label>
        <textarea name="entry.1026309911 " rows="8 " cols="0 " class="ss-q-long " id="entry_1026309911 " dir="auto " aria-label="Describe el Problema. " aria-required="true " required=" " placeholder="Describe el Problema "></textarea>

        <label class="ss-q-item-label " for="entry_261394681 "><div class="ss-q-title ">
        </div>
        <div class="ss-q-help ss-secondary-text " dir="auto "></div></label>
        <input type="text " name="entry.261394681 " value=" " class="ss-q-short " id="entry_261394681 " dir="auto " aria-label="Nombre " title=" " placeholder="Nombre ">

        <label class="ss-q-item-label " for="entry_1017009444 "><div class="ss-q-title ">
        </div>
        <div class="ss-q-help ss-secondary-text " dir="auto "></div></label>
        <input type="text " name="entry.1017009444 " value=" " class="ss-q-short " id="entry_1017009444 " dir="auto " aria-label="Email " title=" " placeholder="Email ">

        <input type="hidden " name="draftResponse " value="[,,&quot;6446067227325704188&quot;] ">
        <input type="hidden " name="pageHistory " value="0 ">

        <input type="hidden " name="fbzx " value="6446067227325704188 ">
      </ol>
    </form>
  </section>
  <footer class="modal__controls ">
    <input type="submit " name="submit " value="Submit " id="ss-submit ">
  </footer>
</div>
