---
layout: default
---

<div class="all-categories-page">

  <div class="top-section top-section--main-color">
    <div class="row">
      <div class="medium-12 column">
        <h1><img id="main-logo" src="images/ogrx-logo-alpha-neg.png" alt="Open Governance Research Exchange"></h1>
      </div>
    </div>
    <div class="row align-center">
      <div class="large-9 column">
        <h2>Categorias principais</h2>
        <h3>Em todo o mundo, a ciência e a tecnologia estão criando formas inovadoras para que enfrentemos juntos os problemas da sociedade.</h3>
      </div>
    </div>

  </div>

  <section class="page-section main-categories">
    <div class="row expanded small-collapse medium-collapse large-collapse">
      <div class="medium-3 column ">
        <a class="category-item category-item--all" href="by/all.html">
          <div class="aligner">
            <div class="aligner-item">
              Ver todas
            </div>
          </div>
        </a>
      </div>
      {% for category in site.data.main-categories %}
      {% assign name = category.title %}
      {% if category.display_name %}
      {% assign name = category.display_name %}
      {% endif %}
      {% if category.featured %}
      <div class="medium-3 column ">
        <a class="category-item category-item--{{category.title | slugify}}" href="categories/{{category.title | slugify}}.html">
          <div class="aligner">
            <div class="aligner-item">
              {{name}}
            </div>
          </div>
        </a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </section>

  <div class="divider">
    <h1>Categorias Adicionais</h1>
  </div>

  <div class="page-section all-categories">
    <div class="row expanded">
      {% for category in site.data.main-categories %}      
      {% assign name = category.title %}
      {% if category.display_name %}
      {% assign name = category.display_name %}
      {% endif %}
      {% unless category.featured %}
      <div class="column large-4 all-categories__item">
        <a href="./categories/{{category.title | slugify}}.html">{{name}}</a>
      </div>
      {% endunless %}

      {% endfor %}
    </div>
  </div>

</div>


