---
layout: default
---

<div class="organization-list-page">

  <div class="top-section">
    <div class="row">
      <div class="medium-12 column">
        <h1><img id="main-logo" src="images/ogrx-logo-alpha-neg.png" alt="Open Governance Research Exchange"></h1>
      </div>
    </div>    
    <div class="row align-center">
      <div class="large-9 column">
        <h2>Organizações</h2>
      </div>
    </div>
  </div>

<!-- List of Organizations - Founding Organizations -->
  <div class="divider">
  <div class="row">
    <div class="column large-12">
      <h2>Fundadores da iniciativa no Brasil</h2>
    </div>
  </div>
</div>
  <div class="page-section organizations">
    <div class="row align-spaced expanded align-middle">
      {% for organization in site.data.organizations %}
        {% if organization.riga_founding_partner and organization.display %}
        <div class="medium-4 column">
          <a class="organization--{{ organization.title | slugify }}" href="./organizations/{{ organization.title | slugify }}.html"><img class="organization-logo" src="./images/organizations/{{ organization.image }}" alt="{{ organization.title }}"></a>
        </div>
        {% endif %}
      {% endfor %}

    </div>
  </div>

  <div class="divider">
    <div class="row">
      <div class="column large-12">
        <h2>Parceiros</h2>
      </div>
    </div>
  </div>
  <div class="page-section organizations">
    <div class="row align-spaced expanded align-middle">
      {% for organization in site.data.organizations %}
        {% if organization.riga_partner and organization.display %}
          <div class="medium-4 column">
              <a class="organization--{{ organization.title | slugify }}" href="./organizations/{{ organization.title | slugify }}.html"><img class="organization-logo" src="./images/organizations/{{ organization.image }}" alt="{{ organization.title }}"></a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="divider">
    <div class="row">
      <div class="column large-12">
        <h2>Fundadores da OGRX</h2>
      </div>
    </div>
  </div>
  <div class="page-section organizations">
    <div class="row align-spaced expanded align-middle">
      {% for organization in site.data.organizations %}
        {% if organization.founding_partner and organization.display %}
          <div class="medium-4 column">
              <a class="organization--{{ organization.title | slugify }}" href="./organizations/{{ organization.title | slugify }}.html"><img class="organization-logo" src="./images/organizations/{{ organization.image }}" alt="{{ organization.title }}"></a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="divider">
    <div class="row">
      <div class="column large-12">
        <h2>Financiadores</h2>
      </div>
    </div>
  </div>
  <div class="page-section organizations">
    <div class="row align-spaced expanded align-middle">
      {% for organization in site.data.organizations %}
      {% if organization.donator and organization.display %}
      <div class="medium-4 column">
        <a class="organization--{{ organization.title | slugify }}" href="./organizations/{{ organization.title | slugify }}.html"><img class="organization-logo" src="./images/organizations/{{ organization.image }}" alt="{{ organization.title }}"></a>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="divider">
    <div class="row">
      <div class="column large-12">
        <h2>Colaboradores</h2>
      </div>
    </div>
  </div>
  <div class="page-section organizations">
    <div class="row align-spaced expanded align-middle">
      {% for organization in site.data.organizations %}
        {% unless organization.founding_partner or organization.network_partner or organization.riga_founding_partner or organization.donator or organization.riga_partner %}
          {% if organization.display %}
          <div class="medium-4 column">
              <a class="organization--{{ organization.title | slugify }}" href="./organizations/{{ organization.title | slugify }}.html"><img class="organization-logo" src="./images/organizations/{{ organization.image }}" alt="{{ organization.title }}"></a>
          </div>
          {% endif %}
          
          {% if organization.title =='empty' %}
          <div class="medium-4 column">
          </div>
          {% endif %}
        {% endunless %}
      {% endfor %}
    </div>
  </div>
</div>